@charset "EUC-JP";
/* Marldia Style Sheet */
/* "This file is written in euc-jp, CRLF." 空 */
/* $Id: style.css,v 1.13 2002-12-17 06:10:06 naruse Exp $ */

/* ===================== 全体の標準スタイル ===================== */
/* 通常のリンク文字 */
A:link			{color:#44f;text-decoration:none;}
A:visited	{color:#44f;text-decoration:none;}
A:link:hover	{color:#fa8;text-decoration:underline;}
A:active	{color:#f00;text-decoration:underline;}
/* 本文自動リンク機能のリンク文字 */
A.autolink:link		{border-bottom: dashed 1px #88f;color:#44f;text-decoration:none;}
A.autolink:visited	{border-bottom: dashed 1px #b9f;color:#97d;text-decoration:none;}
A.autolink:link:hover	{border-bottom: dashed 1px #fa8;color:#fa8;text-decoration:none;}
A.autolink:active	{border-bottom: dashed 1px #f00;color:#f00;text-decoration:none;}


body{
	background-attachment: scroll;
	background-color: #fff;
	background-image: url('/HP_img/bakimg.png');
/*	background-position: left;
	background-repeat: repeat; */
	color: #333;
	font-family: 'MS UI Gothic',osaka,sans-serif;
	font-size: 13px;
	letter-spacing: 0.1em;
	margin: 0;
	text-align: center;
	width: 99%;
}

BUTTON{}
FORM{
	margin: 0;
}

H1{
	background-color: transparent;
	color: #333;
	font-family: 'Comic Sans MS',osaka,sans-serif;
	font-size: 15px;
	font-weight: bold;
	line-height: 100%;
	margin: 0 auto;
	padding: 0;
}
H3{
	font-family: 'MS UI Gothic',osaka,sans-serif;
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 0.15em;
	line-height: normal;
	margin: 5px auto;
	width: 25em;
}
H5{
	font-family: 'MS UI Gothic',osaka,sans-serif;
	font-size: 13px;
	font-weight: normal;
	letter-spacing: 0.15em;
	line-height: normal;
	margin: 1px auto;
}

IMG{
	border-color: #ccd;
	border-style: double;
	border-width: 3px;
	vertical-align: middle;
}

INPUT,SELECT{
	background-color: #eee;
}

OPTGROUP,OPTION{
	border:none;
}

TABLE{
	border-color: #000;
	border-style: none;
	border-width: 1px;
	font-size: 100%;
	margin: 0 auto;
	text-align: left;
	vertical-align: middle;
}
TD{
	border-color: #000;
	border-style: none;
	border-width: 1px;
	padding: 0;
}
TH{
	border-color: #000;
	border-style: none;
	border-width: 1px;
	font-size: 100%;
	font-weight: normal;
	padding: 0;
}


/* ===================== 全体に共通のクラス ===================== */
/* Checkbox */
INPUT.check{
	background-color: transparent;
	border-style: none;
	cursor: hand;
}
/* OK/Submitボタン */
INPUT.submit{
	background-color: #55A;
	border-color: #fd0;
	border-width: 1px;
	border-style: solid;
	color: #333;
	cursor: hand;
	letter-spacing: 0.15em;
	width: 7em;
}
/* Cancel/Resetボタン */
INPUT.reset{
	background-color: #A55;
	border-color: #fd0;
	border-width: 1px;
	border-style: solid;
	color: #333;
	cursor: hand;
	letter-spacing: 0.15em;
	width: 7em;
}
/* テキストフォーム */
INPUT.text,TEXTAREA{
	border: #ccc solid 1px;
	color: #355;
	font-size: 13px;
	padding: 2px;
	margin: 0;
}
#icon{
	width:150px;
}
#color,#bcolo{
	width:125px
}

/* アクセスキー */
SPAN.ak{
	text-decoration: underline;
}

/* ===================== 参加者一覧など ===================== */
TABLE.meminfo{
	margin-left: 5px;
	text-align: left;
	width: 99%;
}
.meminfo.reload{
	width: 5em;
}
.meminfo.member{
}
.meminfo.respan{
	text-align: right;
	width: 6em;
}

/* Article */
TABLE.article{
	margin: 1px auto 1px 3px;
	text-align: left;
	width: 99%;
}
TABLE.article TH,TABLE.article TD{
	text-align: left;
	word-break: break-all; /* MSIE5 */
}
.articon{
	text-align: center;
	width:55px;
}
.artname{
	font-size: 13px;
	vertical-align: middle;
	white-space: nowrap;
}
.artbody{
	vertical-align: middle;
	width:100%;
}
.artinfo{
	color: #333;
	font-size: 10px;
	height: 11px;
}
.artdel,.artdel A{
	color: #f00;
	font-size: 10px;
	height: 11px;
	text-align: center;
}
.artlev{}
.artdate{}

/* 汎用テーブル */
TABLE.table{
	border: solid 1px #333;
}
TABLE.table CAPTION{
	background-color:#fee;
	border: solid 1px #333;
	font-size: 15px;
}
TABLE.table TH{
	background-color:#ffa;
	border: solid 1px #333;
	font-size: 14px;
	padding: 2px;
}
TABLE.table TD{
	border: solid 1px #333;
	font-size: 14px;
	padding: 2px;
}

/* 著作権表示 */
.AiremixCopy{
	font: normal 100% sans-serif;
	margin: 0.5em;
	text-align: right;
}
