@charset "EUC-JP";
/* Marldia Style Sheet */
/* "This file is written in euc-jp, CRLF." 空 */
/* $Id: style.css,v 1.11 2002-10-22 08:29:16 naruse Exp $ */

/* ===================== 全体の標準スタイル ===================== */
/* 通常のリンク文字 */
A:link			{color:#44f;text-decoration:none;}
A:visited	{color:#44f;text-decoration:none;}
A:link:hover	{color:#fa8;text-decoration:underline;}
A:active	{color:#f00;text-decoration:underline;}
/* 本文自動リンク機能のリンク文字 */
A.autolink:link		{border-bottom: dashed 1px #88f;color:#44f;text-decoration:none;}
A.autolink:visited	{border-bottom: dashed 1px #b9f;color:#97d;text-decoration:none;}
A.autolink:link:hover	{border-bottom: dashed 1px #fa8;color:#fa8;text-decoration:none;}
A.autolink:active	{border-bottom: dashed 1px #f00;color:#f00;text-decoration:none;}


body{
	background-attachment: scroll;
	background-color: #ffe;
	background-image: url('/HP_img/bakimg.png');
/*	background-position: left;
	background-repeat: repeat; */
	color: #333;
	font-family: "MS UI Gothic",osaka,sans-serif;
	font-size: 13px;
	letter-spacing: 0.1em;
	margin: 0;
	text-align: center;
	width: 99%;
}

button{}
form{
	margin: 0;
}

h1 {
	background-color: transparent;
	color: #333;
	font-family: 'Comic Sans MS',osaka,sans-serif;
	font-size: 15px;
	font-weight: bold;
	line-height: 100%;
	margin: 0 auto;
}
h3 {
	font-family: "MS UI Gothic",osaka,sans-serif;
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 0.15em;
	line-height: normal;
	margin: 5px auto;
	width: 25em;
}
h5{
	font-family: "MS UI Gothic",osaka,sans-serif;
	font-size: 13px;
	font-weight: normal;
	letter-spacing: 0.15em;
	line-height: normal;
	margin: 1px auto;
}

img {
	border-color: #ccd;
	border-style: double;
	border-width: 3px;
	vertical-align: middle;
}

input,optgroup,option,select,textarea{
	background-color: #eef;
	border-color: #333;
	border-style: solid;
	border-width: 1px;
	font-family: "MS UI Gothic",osaka,sans-serif;
	font-size: 100%;
}
optgroup,option{
	border:none;
}

table{
	border-color: #000;
	border-style: none;
	border-width: 1px;
	font-size: 100%;
	margin: 0 auto;
	text-align: left;
	vertical-align: middle;
}
td{
	border-color: #000;
	border-style: none;
	border-width: 1px;
	padding: 0;
}
th{
	border-color: #000;
	border-style: none;
	border-width: 1px;
	font-size: 100%;
	font-weight: normal;
	padding: 0;
}


/* ===================== 全体に共通のクラス ===================== */
/* Checkbox */
input.check{
	background-color: transparent;
	border-style: none;
	cursor: hand;
}
/* OK/Submitボタン */
input.submit{
	background-color: #55A;
	border-color: #fd0;
	border-width: 1px;
	border-style: solid;
	color: #333;
	cursor: hand;
	letter-spacing: 0.15em;
	width: 7em;
}
/* Cancel/Resetボタン */
input.reset{
	background-color: #A55;
	border-color: #fd0;
	border-width: 1px;
	border-style: solid;
	color: #333;
	cursor: hand;
	letter-spacing: 0.15em;
	width: 7em;
}
#icon{
	width:150px;
}
#color,#bcolo{
	width:125px
}

/* アクセスキー */
span.ak{
	text-decoration: underline;
}

/* ===================== 参加者一覧など ===================== */
table.meminfo{
	margin-left: 5px;
	text-align: left;
	width: 99%;
}
.meminfo.reload{
	width: 5em;
}
.meminfo.member{
}
.meminfo.respan{
	text-align: right;
	width: 6em;
}

/* Article */
table.article{
	margin: 1px auto 1px 3px;
	text-align: left;
	width: 99%;
}
table.article th,table.article td{
	text-align: left;
	word-break: break-all; /* MSIE5 */
}
.articon{
	text-align: center;
	width:55px;
}
.artname{
	vertical-align: middle;
	white-space: nowrap;
}
.artbody{
	vertical-align: middle;
	width:100%;
}
.artinfo{
	color: #333;
	font-size: 10px;
	height: 11px;
}
.artdel,.artdel a{
	color: #f00;
	font-size: 10px;
	height: 11px;
	text-align: center;
}
.artlev{}
.artdate{}

/* 著作権表示 */
.AiremixCopy{
	font: normal 100% sans-serif;
	margin: 0.5em;
	text-align: right;
}
